.login {
  width: 100%;
  height: 100%;
  display: flex;
}
.login .login_con {
  width: 30%;
  padding: 48px 30px;
  box-sizing: border-box;
  position: relative;
}
.login .login_con .login_logo {
  width: 200px;
  margin-bottom: 64px;
}
.login .login_con .tit {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 24px;
}
.login .login_con .semi-input-wrapper-default {
  margin-bottom: 24px;
}
.login .login_box {
  flex: 1;
  background-size: 100% 100%;
  background-image: url('../assets/bg.webp');
}
